@use "./../../helper/mixin" as m;
@use "./../../helper/variable" as v;

@mixin sidebar($position: relative) {
  .sidebar {
    width: 100%;
    height: auto;
    @include m.flex($direction: column, $justify: flex-start, $align: flex-end);
    gap: 0.6rem;
    right: 0;
    padding: 3.2rem 0 3.2rem 2.8rem;
    position: $position;
    z-index: 97;
    grid-area: sidebar;

    .active {
      background-color: #000;

      .material-symbols-outlined {
        font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 48;
      }

      .text,
      .role,
      .material-symbols-outlined {
        color: v.$light-orange;
      }
    }

    &-item {
      min-width: 4rem;
      height: auto;
      @include m.flex($direction: column);
      background-color: v.$light-orange;
      border-top-left-radius: 0.4rem;
      border-bottom-left-radius: 0.4rem;
      padding: 13% 13% 13% 20%;
      text-decoration: none;

      .text,
      .role {
        color: #fff;
        font-size: 0.95rem;
        font-weight: 600;
        text-transform: capitalize;
      }

      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
        font-size: 1.2rem;
        color: #fff;
      }
    }
  }
}
