@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin circle($w-h) {
  width: $w-h;
  height: $w-h;
  border-radius: 50%;
}

@mixin productStore() {
  grid-area: modal;
  display: grid;
  grid-template-columns: 1fr 1fr 0.75fr 0.75fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "name jenis file file"
    "price stock image image"
    "description description image image"
    "button button button button";
  row-gap: 2vh;
  column-gap: 1.5vw;
  width: 60vw;
  height: 100%;

  .form-content:nth-child(1) {
    height: fit-content;
    grid-area: name;
  }
  .form-content:nth-child(2) {
    height: fit-content;
    grid-area: jenis;
  }
  .form-content:nth-child(3) {
    height: fit-content;
    grid-area: price;
  }
  .form-content:nth-child(4) {
    height: fit-content;
    grid-area: stock;
  }
  .form-content:nth-child(5) {
    height: 100%;
    grid-area: description;
  }
  .form-content:nth-child(6) {
    height: fit-content;
    grid-area: file;
  }
  .form-content:nth-child(7) {
    height: 100%;
    grid-area: image;
    border-radius: 0.2rem;
  }
}

@mixin receipt() {
  grid-area: modal;
  @include flex($direction: column);
  row-gap: 2vh;

  .form-content:nth-child(2) {
    width: 18rem;
    height: 14rem;
    border-radius: 0.2rem;
    border: 0.1rem #ddd solid;

    img {
      border-radius: 0.2rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
