$dark-orange: #ff5100;
$light-orange: #ff7a3d;
$light-pink: #ff42b3;
$light-green: #30c7b5;
$light-yellow: #f9c349;
$dark-blue: #08acf2;
$light-blue: #2fc1ff;
$light-red: #ef4d48;
$light-purple: #8e43f0;
$black: #1e1810;
$dark-gray: #575250;
$light-gray: #f8f5f4;
$pending: #ffb100;
$completed: #06752e;
$cancelled: #d90700;
